body {
  background-image: url("/img/background_big.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;

}

#main {
  position: absolute;
  height: 95vh;
  width: 99vw;
  margin: 0 0 auto;
  background-color: #000000;
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#leftBarBg {
  position: absolute;
  background-image: url('/img/background_big.jpg');
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  filter: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQoJPGZpbHRlciBpZD0iYmx1ciI+DQoJCTxmZUdhdXNzaWFuQmx1ciBzdGREZXZpYXRpb249IjMiIC8+DQoJPC9maWx0ZXI+DQo8L3N2Zz4=#blur);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 95vh;
  width: 20%;
  min-width: 20%;
}

#leftBar {
  position: absolute;
  height: 95vh;
  width: 20%;
  min-width: 20%;
  background: rgb(20,51,7); /* for IE */
  background: rgba(20,51,7,0.6);
  z-index: 100;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#canvasArea {
  margin-left: 22%;
  width: 75%;
  background-color: rgba(0,0,0,0.7);
  height: 95vh;
  z-index: 101;
  position: relative;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.canvasBg {
  position: absolute;
  z-index: 102;
}

.arrow {
  width: 30px;
  cursor:pointer;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#posts {
  text-align: center;
}

#postsGrid {
  vertical-align: middle;
}

.canvasMain {
  position: absolute;
  z-index: 103;
}

.page-title {
  color:Silver;
  font-family: 'monof55';
  text-align: center;
}

.post-title {
  color:Silver;
  font-family: 'monof55';
  text-align: center;
  padding-bottom: .2rem;
  cursor:pointer;
}

.preview-img{
  width: 80%;
  cursor:pointer;
  padding-bottom: .4rem;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'old-timey\'><feColorMatrix type=\'matrix\' values=\'0.14 0.45 0.05 0 0 0.12 0.39 0.04 0 0 0.08 0.28 0.03 0 0 0 0 0 1 0\'/></filter></svg>#old-timey");
  -webkit-filter: sepia(1);
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -ms-filter: sepia(100%);
  -o-filter: sepia(100%);
  filter: sepia(100%);
}


.preview-img:hover {
    filter: none;
    -webkit-filter: sepia(0);
    -moz-filter: sepia(0);
    -ms-filter: sepia(0);
    -o-filter: sepia(0);
    filter: sepia(0);
}

#postsLoadingImg {
  width: 20%;
  max-width: 100px;
}

/***************************** FONTS *********************************************/

@font-face {
    font-family: 'monof55';
    src: url('/fonts/SourceCodePro-Light.otf');
    font-weight: normal;
    font-style: normal;
}